@use '../../assets/styles/mixins' as mix;

.button_wrapper {
  position: relative;
  .badge_wrapper {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -15px;
    left: -15px;
    background-color: rgba(211, 211, 211, 0.767);
    color: black;
    border-radius: 50%;
    padding: 0.15em;
    @include mix.flex-row-center;
  }
  .icon {
    all: unset;
    &:hover {
      cursor: pointer;
    }
  }
}
.pannel {
  position: absolute;
  right: 10px;
  background-color: white;
  border: 1px solid rgba(211, 211, 211, 0.767);
  border-radius: 5%;
  min-height: 50px;
  padding: 0.5em 1em;
  -webkit-box-shadow: 3px 5px 15px -4px rgba(0, 0, 0, 0.93);
  box-shadow: 3px 5px 15px -4px rgba(0, 0, 0, 0.93);
  @include mix.flex-column-center;
  color: black;
  p {
    margin-bottom: 1em;
  }
}
