@use '../../assets/styles/mixins' as mix;

.button_wrapper {
  position: relative;
  .badge_wrapper {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -15px;
    left: -15px;
    background-color: lightgrey;
    color: black;
    border-radius: 50%;
    padding: 0.15em;
    @include mix.flex-row-center;
  }
  .icon {
    all: unset;
    &:hover {
      cursor: pointer;
    }
  }
}
.pannel {
  position: absolute;
  right: 10px;
  button {
    //all: unset;
    &:hover {
      cursor: pointer;
    }
  }
}
