@use '../../assets/styles/mixins' as mix;

.wrapper {
  padding: 0.5em 1em;
  .header {
    margin: 0.5em 1em;
    @include mix.flex-row-between-center;

    .search_input {
      width: 200px;
    }
  }
  .content {
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1em;

    .card_hover {
      all: unset;
      border-radius: 15px;
      &:hover {
        cursor: pointer;
      }
      .card {
        padding: 0.5em 0;

        .main_image {
          display: inline-block;
          overflow: hidden;
          border-radius: 8px;

          img {
            width: 100%;
            height: auto;
            transition: transform 0.3s ease;
          }

          &:hover img {
            transform: scale(1.1);
          }
        }
        .data {
          p {
            font-weight: 300;
          }
          .data_name {
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            line-clamp: 1;
            -webkit-line-clamp: 1;
            text-transform: capitalize;
          }
          .data_price {
            text-align: right;
          }
        }
      }
    }
  }
  .load_more {
    width: 100%;
    margin: 1em;
    @include mix.flex-row-center;
  }

  @media (max-width: 1024px) {
    .content {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  @media (max-width: 830px) {
    .content {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  @media (max-width: 600px) {
    .content {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}
