@use '../../assets/styles/mixins' as mix;

.container {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  .header_container,
  .footer_container {
    background-color: black;
    color: white;
  }

  .header_container {
    padding: 0.75em 1.25em;
    @include mix.flex-row-between-center;
    .header_left {
      @include mix.flex-row-start-center;
      gap: 1em;
    }
  }

  .footer_container {
    @include mix.flex-row-center;
    padding: 0.5em;
  }
}
