@use '../../assets/styles/mixins' as mix;

.wrapper {
  padding: 0.5em 1em;
  .header {
    margin: 1em;
    @include mix.flex-row-between-center;
  }
  .content {
    margin: 1em;
    @include mix.flex-row-start;
    flex-wrap: nowrap;
    gap: 1em;

    .product_images {
      min-width: 400px;
      width: calc(50% - 1em);
      img {
        height: 400px;
        width: auto;
      }
    }
    .product_data {
      padding: 0 2em;
      .product_name {
        font-size: 1.25em;
        font-weight: 400;
        padding-bottom: 0.5em;
      }
      .light_text {
        font-size: 0.85em;
        padding-bottom: 0.5em;
        font-weight: 300;
      }
      .product_price {
        font-weight: 500;
        padding-bottom: 1em;
      }
      .product_desc {
        font-size: 0.95em;
        padding-bottom: 1em;
      }
    }

    .actions {
      @include mix.flex-column-center;
      .selectors {
        width: 100%;
        @include mix.flex-row-start-center;
        gap: 3em;
        padding-bottom: 1em;
        label {
          padding-right: 0.5em;
        }

        input[type='number'] {
          max-width: 100px;
        }
        select {
          min-width: 100px;
          cursor: pointer;
        }
      }
      .add_cart_btn {
        width: 100%;
        max-width: 400px;
        margin: 1em;
        @include mix.flex-row-center;
        gap: 1em;
        padding: 0.5em 0.75em;
      }
    }
  }

  @media (max-width: 820px) {
    .content {
      flex-wrap: wrap;
    }
  }
}
