@use "../../assets/styles/mixins" as mix;

.wrapper {
  padding: 0.5em 1em;
  .header {
    @include mix.flex-row-between-center;
  }
  .content {
    margin: 1em;
    @include mix.flex-row-start;
    justify-content: space-evenly;
    gap: 1em;
    .product_item {
      width: calc(50% - 1em);
    }

    .actions {
    }
  }
}
