@use '../../assets/styles/mixins' as mix;

.slider {
  width: auto;
  max-width: 600px;
  @include mix.flex-row-center;

  .slider_wrapper {
    position: relative;
    width: 100%;
    height: 400px;

    .slider_image {
      position: absolute;
      top: 0;
      width: auto;
      height: 100%;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      border-radius: 12px;
      &.active {
        opacity: 1;
        z-index: 1;
      }
    }
  }

  .slider_arrow {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: opacity 0.2s ease;
    @include mix.flex-column-center;
    width: 38px;
    height: 38px;
    margin: 0.5em;

    &:hover {
      background: rgba(0, 0, 0, 0.6);
    }
  }
}
