@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap");

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  right: 0;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 8px;
  width: 12px;
  height: 12px;
}
body {
  margin: 0;
}
