//#region Flex styles
@mixin flex-row-start {
  display: flex;
  flex-direction: row;
}
@mixin flex-row-start-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@mixin flex-row-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
@mixin flex-row-end-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-column-start {
  display: flex;
  flex-direction: column;
}
@mixin flex-column-start-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@mixin flex-column-between-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-column-end-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

//#endregion Flex styles
